My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "20a0124e-65c5-4c22-bc9f-986ff4ab645e",
      "name": "Telegram Trigger",
      "webhookId": "82b74336-d85e-4853-a5c9-101b7d0988cb",
      "credentials": {
        "telegramApi": {
          "id": "1DQr5wOeTymoihYQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "8f2a33bc-82e6-4e0b-80dd-4978f11a48b4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        0
      ],
      "id": "fefc3d42-8a05-4902-baa1-637de802422a",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dccec985-8c0d-4cc2-9cf4-e4f137586638",
              "name": "Text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -20
      ],
      "id": "24e17f00-e477-4e5a-8e6b-553badc675aa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "You are a helpful assistant.\n\nAlways reply in full caps"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        660,
        -40
      ],
      "id": "af0e9056-77b1-458b-b485-0be407d6f988",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        700,
        180
      ],
      "id": "5be60aab-b84f-4062-936d-bd71a3a8e693",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "o1FDPoCTClxIFaPi",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1020,
        -40
      ],
      "id": "2bcfa409-528e-44b9-8832-a8f23b822115",
      "name": "Telegram",
      "webhookId": "3ce5ba2a-7af9-4a4e-bce5-5862d2d24d2d",
      "credentials": {
        "telegramApi": {
          "id": "1DQr5wOeTymoihYQ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "746e133d-b65f-4d6c-9f51-b7ab8692d898",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b0266499fd90b3e9e7734a97923179e6613e1fdc294c4dcb35e4d7b6eddd4b5"
  },
  "id": "bNMAHW6gfupTInmA",
  "tags": []
}